<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderLusty</title>
</head>
<body>
<h1> all listings</h1>
<form method="GET" action="/listings/new">
    <button>create listing</button>
</form>

<ul>
    <%for(let listing of alllistings){%>
        <li><a href="/listings/<%= listing._id %>"> <%=listing.title%></a></li>
    <%}%>
</ul>

</body>
</html>
